# Expressions

In [1]:
x = 2
x = x + 2
print x

4

In [2]:
print(x)

4

In [4]:
x = 0.6
x = 3.9 * x * (1 - x)
print(x)

0.936

In [5]:
xx = 2
xx = xx + 2
print xx

4

In [6]:
yy = 440 * 12
print yy

5280

In [7]:
zz = yy / 1000
print zz

5

In [8]:
jj = 23
kk = jj % 5
print kk

3

In [9]:
print 4 ** 3

64

| Operator | Operation       |
|:--------:|:---------------:|
|    +     |  Addition       |
|    -     |  Subtraction    |
|    *     |  Multiplication |
|    /     |  Division       |
|    **    |  Power          |
|    %     |  Remainder      |

In [10]:
x = 1 + 2 ** 3 / 4 * 5
print x

11

In [11]:
print 10 / 2

5

In [12]:
print 9 / 2

4

In [13]:
print 99 / 100

0

In [14]:
print 10.0 / 2.0

5.0

In [15]:
print 99.0 / 100.0

0.99

In [16]:
print 99 / 100

0

In [17]:
print 99 / 100.0

0.99

In [18]:
print 99.0 / 100

0.99

In [19]:
print 1 + 2 * 3 / 4.0 - 5

-2.5

In [45]:
print 'abc' + '123'

abc123

In [46]:
print 'Hi' * 5

HiHiHiHiHi

# Type

In [20]:
ddd = 1 + 4
print ddd

5

In [21]:
eee = 'hello ' + 'there'
print eee

hello there

In [22]:
eee = eee + 1

TypeError: cannot concatenate 'str' and 'int' objects

In [23]:
type(eee)

str

In [24]:
type('hello')

str

In [25]:
type(1)

int

In [26]:
xx = 1
type (xx)

int

In [27]:
temp = 98.6
type(temp)

float

In [28]:
type(1)

int

In [29]:
type(1.0)

float

In [30]:
print float(99) / 100

0.99

In [31]:
i = 42
type(i)

int

In [32]:
f = float(i)
print f

42.0

In [33]:
type(f)

float

In [34]:
print 1 + 2 * float(3) / 4 - 5

-2.5

In [35]:
sval = '123'
type(sval)

str

In [36]:
print sval + 1

TypeError: cannot concatenate 'str' and 'int' objects

In [37]:
ival = int(sval)
type(ival)

int

In [38]:
print ival + 1

124

In [39]:
sv = 'hello bob'
niv = int(nsv)

NameError: name 'nsv' is not defined

# User input

In [40]:
nam = raw_input('Who are you?')
print 'Welcome', nam

Who are you?Me
Welcome Me

In [41]:
inp = raw_input('Europe floor?')
usf = int(inp) + 1
print 'US floor', usf

Europe floor?7
US floor 8

# Exercise

Write a program to prompt the user for hours and rate per hour to compute gross pay.

In [47]:
hours = raw_input('Enter Hours: ')
rate  = raw_input('Enter Rate: ')
pay = float(hours) * float(rate)
print 'Pay: ' + str(pay)

Enter Hours: 35
Enter Rate: 12.5
Pay: 437.5